<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826777219449-0qv1orq9nnrae9r8aqmt2ga8vu07pvp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826777219449-0qv1orq9nnrae9r8aqmt2ga8vu07pvp8</string>
	<key>API_KEY</key>
	<string>AIzaSyAsP39-ujzmNcEyR33e5TMygiA35JeLsd0</string>
	<key>GCM_SENDER_ID</key>
	<string>826777219449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baoviet.bvl.ad.portal</string>
	<key>PROJECT_ID</key>
	<string>adportal-de46a</string>
	<key>STORAGE_BUCKET</key>
	<string>adportal-de46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826777219449:ios:c2d92599a624a1767b7fa8</string>
</dict>
</plist>